<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  
  <?if $(var.Platform)=x64 ?>  
  <?define ProductCode = "{7C6370AD-9F31-4B0B-98A8-915D6F2C14EC}" ?>
  <?else?>
  <?define ProductCode = "{9C2168B9-3AE5-47EF-B13B-94722DD0B88D}" ?>
  <?endif?>

  <?define UpgradeCode = "{36631466-B063-4FB2-9929-0B173AD3C18D}" ?>
  
  <?define BuildVersion = 1.2.3?>
  
  
	<Product Id="$(var.ProductCode)" 
           Name="!(loc.ProductName_$(var.Platform))" 
           Language="!(loc.Language)" 
           Version="$(var.BuildVersion)" 
           Manufacturer="!(loc.Company)" 
           UpgradeCode="$(var.UpgradeCode)">
    
    
		<Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Platform = "$(var.Platform)"
             Manufacturer ="!(loc.Company)"
             Description ="!(loc.Description)"
             Keywords ="!(loc.Keywords)"
             Comments ="!(loc.Comments)"
             Languages="!(loc.Language)"
             />

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    
		<MediaTemplate
      EmbedCab="yes"
      />

		<Feature Id="ProductFeature" Title="Wix_Custom_W.Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Wix_Custom_W.Installer" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
